<div class="col-lg-12">
    
    <div class="row">
            <h2 style="display: inline-block;">
                {{operation.title}} RDV 
                
                <span ng-if="operation.id == 'edit'">
                    (ID : {{rdv.id}})
                </span>
            </h2>
    </div>

    <form role="form" name="myForm">

        
        <div class="form-group"> 
            <label>
                Patient
            </label>
            <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                      
                    <select  class="selectpicker form-control" ng-model="rdv.patient"  required>
                        <option value="">--- Select an option ---</option>
                        <option ng-selected="{{rdv.patient == patient}}" ng-repeat="patient in patients" value="{{patient}}"  >{{patient.id}} -- {{patient.nom}} {{patient.prenom}}</option>
                    </select>

                  </div>
                </div>
            </div>
        </div>   
        
        <div class="form-group" ng-init="loadCreneaux()" > 
            <label>
                Cliquez sur un jour pour afficher les disponibilités
            </label>
            <calendar calendar-mode="mode" event-source="eventSource" event-selected="onEventSelected(event)"
                      time-selected="onTimeSelected(selectedTime)" />
        </div>
        
        <div class="form-group" ng-if="chosenEvent"> 
            <div class="row">
                <div class='col-md-6'>
                    <label>Début de RDV</label>
                    <div class="form-group">
                        <div class='input-group date' >
                            <input type="text" name="debut" datetime="dd/MM/yyyy HH:mm" ng-init="rdv.debut = chosenEvent.startTime" 
                                   ng-model="rdv.debut"  class="form-control" required />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class='col-md-6'>
                    <label>Fin de RDV</label>
                    <div class="form-group">
                        <div class='input-group date' >
                            <input type="text" name="fin" datetime="dd/MM/yyyy HH:mm" ng-init="rdv.fin = chosenEvent.endTime"
                                   ng-model="rdv.fin" class="form-control" required />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>      

        
        <div class="pull-right">                 
            <span style="color:red">{{msg}}</span>
            <button  class="btn btn-default" ng-click="cancel()">Annuler</button>
            <button  class="btn btn-default " ng-click="submit(myForm.$valid)">Valider</button>
        </div>
        <!--h1>{{myForm.debut.$valid}}</h1>
        <h1>{{myForm.fin.$valid}}</h1>
        <h1>{{myForm.$valid}}</h1-->
    </form>

</div>